<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
          <initialize>
            <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']" type="MyProject.Foundation.Assets.Pipelines.Initialize.BundleAssets, MyProject.Foundation.Assets"/>
          </initialize>
            <mvc.getPageRendering>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="MyProject.Foundation.Assets.Pipelines.GetPageRendering.ClearAssets, MyProject.Foundation.Assets"/>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="MyProject.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, MyProject.Foundation.Assets">
                    <siteAssets hint="raw:AddAsset" />
                </processor>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="MyProject.Foundation.Assets.Pipelines.GetPageRendering.AddThemeAssets, MyProject.Foundation.Assets"/>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="MyProject.Foundation.Assets.Pipelines.GetPageRendering.AddPageAssets, MyProject.Foundation.Assets"/>
              
              <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="MyProject.Foundation.Assets.Pipelines.GetPageRendering.AddSiteAssets, MyProject.Foundation.Assets"/>
              
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="MyProject.Foundation.Assets.Pipelines.GetPageRendering.AddRenderingAssets, MyProject.Foundation.Assets"/>
              <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" type="MyProject.Foundation.Assets.Pipelines.GetPageRendering.UpdateBundle, MyProject.Foundation.Assets"/>
            </mvc.getPageRendering>
        </pipelines>
      <settings>
        <setting name="MyProject.Foundation.Assets.BundleAndMinify" value="true" />

      </settings>
    </sitecore>
</configuration>